<nav aria-label="Page navigation" class="navigation-jornalistas">
    <ul class="pagination justify-content-center pagination-jornalista">
        {% for i in pagination_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
            {% else %}
                {% if  i == paginator.ELLIPSIS %}
                    <li class="page-item"><a class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{{ additional_url_query }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>