{% extends 'global/base.html' %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/cadastro.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
<style>
  .iti {
    width: 100%
  }
  .hide {
    display: none;
  }
</style>
{% endblock styles %}
{% block content %}

<main>
  <div>
    {% if message is not None %}
    <div class="alert alert-{{ message.type }}">{{ message.text }}</div>
  {% endif %}
  </div>
  <body>
      <div class="tela-cadastro" id="Primeiro">
        <div class="subtitulo">
          <h3>Crie uma nova conta</h3>
        </div>
        
        <div class="foto-perfil">
          <img
            src="{% static 'jornalistas/img/perfil.png' %}"
            width="128"
            height="130"
            alt=""
            style="margin-left: 2.5vh;"
          />
          <img
            src="{% static 'jornalistas/img/upload.png' %}"
            width="140"
            height="39"
            alt=""
            style="margin-top: -4vh;"
          />
        </div>
  
        <form method="POST" action="" class="form-cadastro" enctype='multipart/form-data'>
          {% csrf_token %}

        <div class="card card-jornalista w-75">
          <div class="titulo">
            <div class="circ-l"> </div>   
            Dados Pessoais
          </div>

          {% include "jornalistas/partials/form_dados_pessoais.html" %}

          <h2 class="subtitulo">Redes Sociais</h2>

          {% include "jornalistas/partials/form_redes_sociais.html" %}
          
          <div class="separador"> </div>

          <div class="titulo">
            <div class="circ-l"> </div>   
            Formação
          </div>
          
          {% include "jornalistas/partials/form_formacao.html" %}
          
          <div class="separador"> </div>   

          <div class="titulo">
            <div class="circ-l"> 
            
          </div> 
            Dados Profissionais
          </div>
          
          <h2 class="subtitulo">Histórico Profissional</h2>
          
          {% for his_form in historico_forms %}
            {% include "jornalistas/partials/form_historico.html" %}
          {% endfor %}
          {{ historico_forms.management_form }}
          
          <div class="separador"> </div> 

          <div class="titulo">
            <div class="circ-l"> </div>   
            Obras
          </div>
        
          
          <div class="butoes">
            <button class="cancel">Cancelar</button>
  
            <button class="prox" type="button" data-bs-toggle="modal" data-bs-target="#revisor-modal">
              Salvar
            </button>
          </div>

        </div>

        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="revisor-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Olá jornalista! seu cadastro já está quase finalizado. 
              Gostariamos de saber se você tem interesse em se tornar um revisor do DPJB para 
              ajudar na analise de informações cadastradas no site, caso for aprovado.
            </div>
            <div class="modal-footer justify-content-around">
              <input type="hidden" id='is_revisor' name='is_revisor'>
              <button id="btnNo" type="submit" class="btn btn-secondary">Não</button>
              <button id="btnYes" type="submit" class="btn btn-primary">Sim</button> 
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'global/js/jquery.mask.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
<script src="{% static 'jornalistas/js/cadastro_mask.js' %}"></script>
<script src="{% static 'global/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  $(function() {
      $('#historico-form').formset({
        prefix: '{{ historico_forms.prefix }}',
        addCssClass: 'incluir btn-centralizar ',
        addText: 'Incluir Experiência',
        deleteText: 'Excluir',
        deleteContainerClass: 'butoes',
        deleteCssClass: 'cancel',
        added: function(row) {
          const numberForms = document.getElementById('id_historico-TOTAL_FORMS').value
          const numberFormActual = numberForms - 1
          const checkbox = document.getElementById(`id_historico-${numberFormActual}-cargo_atual`);
          // Verifica o estado do checkbox imediatamente na carga da página
          if (checkbox.checked) {
            $(`#id_historico-${numberFormActual}-data_de_termino`).prop("disabled", true);
          } else {
            $(`#id_historico-${numberFormActual}-data_de_termino`).prop("disabled", false);
          }
          $(`#id_historico-${numberFormActual}-cargo_atual`).change(function() {
            // Verifica se a caixa de seleção está marcada
            if ($(this).is(":checked")) {
                // Se marcado, desabilite o campo de entrada
                $(`#id_historico-${numberFormActual}-data_de_termino`).prop("disabled", true);
            } else {
                // Se não marcado, habilite o campo de entrada
                $(`#id_historico-${numberFormActual}-data_de_termino`).prop("disabled", false);
            }
        });
        }
      });
  })
</script>
<script>
  $(document).ready(function() {

    const checkbox = document.getElementById("id_historico-0-cargo_atual");
    // Verifica o estado do checkbox imediatamente na carga da página
    if (checkbox.checked) {
      $("#id_historico-0-data_de_termino").prop("disabled", true);
    } else {
      $("#id_historico-0-data_de_termino").prop("disabled", false);
    }
    $('#id_historico-0-cargo_atual').change(function() {
      if ($(this).is(":checked")) {
        // Se marcado, desabilite o campo de entrada
        $("#id_historico-0-data_de_termino").prop("disabled", true);
      } else {
        // Se não marcado, habilite o campo de entrada
        $("#id_historico-0-data_de_termino").prop("disabled", false);
      }
    });
  });
</script>
<script>
  btnYes = document.getElementById('btnYes');
  btnNo = document.getElementById('btnNo');
  inputIsRevisor = document.getElementById('is_revisor');

  btnYes.addEventListener("click", function () {
    inputIsRevisor.value = 'Sim';
  })
  btnNo.addEventListener("click", function () {
    inputIsRevisor.value = 'Não';
  })
</script>
<script>
  const selectEstados = document.getElementById("id_estado");
  const selectCidades = document.getElementById("id_cidade");

  selectEstados.addEventListener("change", function() {
    if (selectEstados.selectedIndex === 0) {
      selectCidades.setAttribute("disabled", "disabled");
    } else {
      selectCidades.removeAttribute("disabled");
    }
  })

</script>
{% endblock scripts %}

