{% extends 'global/base.html' %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/cadastro.css' %}">
{% endblock styles %}
{% block content %}

<main>
  <div>
    {% if message is not None %}
    <div class="alert alert-{{ message.type }}">{{ message.text }}</div>
  {% endif %}
  </div>
  <body>
      <div class="tela-cadastro" id="Primeiro">
        <div class="subtitulo">
          <h3>Crie uma nova conta</h3>
        </div>
        
        <div class="foto-perfil">
          <img
            src="{% static 'jornalistas/img/perfil.png' %}"
            width="128"
            height="130"
            alt=""
            style="margin-left: 2.5vh;"
          />
          <img
            src="{% static 'jornalistas/img/upload.png' %}"
            width="140"
            height="39"
            alt=""
            style="margin-top: -4vh;"
          />
        </div>

        <form method="POST" action="" class="form-cadastro" enctype='multipart/form-data'>
          {% csrf_token %}

        <div class="card card-jornalista w-75">
          <div class="titulo">
            <div class="circ-l"> </div>   
            Dados Pessoais
          </div>
          <div class="row gy-2 gx-3 align-items-center">
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{jornalista_form.nome_de_guerra.id_for_label }}" class="form-label">{{ jornalista_form.nome_de_guerra.label }}</label>
                {{ jornalista_form.nome_de_guerra }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ jornalista_form.associacao.id_for_label }}" class="form-label">{{ jornalista_form.associacao.label }}</label>
                {{ jornalista_form.associacao }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ jornalista_form.estado_civil.id_for_label }}" class="form-label">{{ jornalista_form.estado_civil.label }}</label>
                {{ jornalista_form.estado_civil }}
              </div>
            </div>
          </div>
          <div class="row gy-2 gx-3 align-items-center">
            <div class="col-md-6">
              <div class="form-group">
                <label for="{{ jornalista_form.data_de_nascimento.id_for_label }}" class="form-label">{{ jornalista_form.data_de_nascimento.label }}</label>
                {{ jornalista_form.data_de_nascimento }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="{{ jornalista_form.genero.id_for_label }}" class="form-label">{{ jornalista_form.genero.label }}</label>
                {{ jornalista_form.genero }}
              </div>
            </div>
          </div>
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="{{ jornalista_form.telefone.id_for_label }}" class="form-label">{{ jornalista_form.telefone.label }}</label>
                {{ jornalista_form.telefone }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="{{ jornalista_form.cpf.id_for_label }}" class="form-label">{{ jornalista_form.cpf.label }}</label>
                {{ jornalista_form.cpf }}
              </div>
            </div>
          </div>

          <h2 class="subtitulo">Redes Sociais</h2>

          <div class="row gy-2 gx-3 align-items-center">
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ redes_sociais_form.link_telegram.id_for_label }}"  class="form-label">{{ redes_sociais_form.link_telegram.label }}</label>
                {{ redes_sociais_form.link_telegram }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ redes_sociais_form.link_facebook.id_for_label }}" class="form-label">{{ redes_sociais_form.link_facebook.label }}</label>
                {{ redes_sociais_form.link_facebook }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ redes_sociais_form.link_podcast.id_for_label }}" class="form-label">{{ redes_sociais_form.link_podcast.label }}</label>
                {{ redes_sociais_form.link_podcast }}
              </div>
            </div>
          </div>
          <div class="row gy-2 gx-3 align-items-center">
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ redes_sociais_form.link_linkedin.id_for_label }}"  class="form-label">{{ redes_sociais_form.link_linkedin.label }}</label>
                {{ redes_sociais_form.link_linkedin }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ redes_sociais_form.link_twitter.id_for_label }}" class="form-label">{{ redes_sociais_form.link_twitter.label }}</label>
                {{ redes_sociais_form.link_twitter }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="{{ redes_sociais_form.link_site.id_for_label }}" class="form-label">{{ redes_sociais_form.link_site.label }}</label>
                {{ redes_sociais_form.link_site }}
              </div>
            </div>
          </div>
          <div class="separador"> </div>

          <div class="titulo">
            <div class="circ-l"> </div>   
            Formação
          </div>
          <div class="row gy-2 gx-3 align-items-center">
            <div class="col-md-6">
              <div class="form-group">
                <label for="{{ jornalista_form.registro.id_for_label }}"  class="form-label">{{ jornalista_form.registro.label }}</label>
                {{ jornalista_form.registro }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="{{ jornalista_form.diploma.id_for_label }}" class="form-label">{{ jornalista_form.diploma.label }}</label>
                {{ jornalista_form.diploma }}
              </div>
            </div>
          </div>
          
          <div class="separador"> </div>   

          <div class="titulo">
            <div class="circ-l"> 
            
          </div> 
            Dados Profissionais
          </div>
          
          <h2 class="subtitulo">Histórico Profissional</h2>
          
          {% for his_form in historico_forms %}
          <div class="card card-jornalista w-75" id="historico-form">
            <div class="row gy-2 gx-3 align-items-center">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ his_form.veiculo_de_comunicacao.id_for_label }}" class="form-label">{{ his_form.veiculo_de_comunicacao.label }}</label>
                  {{ his_form.veiculo_de_comunicacao }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ his_form.cargo.id_for_label }}" class="form-label">{{ his_form.cargo.label }}</label>
                  {{ his_form.cargo }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  {{ his_form.cargo_atual }}
                  <label for="{{ his_form.cargo_atual.id_for_label }}" class="form-label">{{ his_form.cargo_atual.label }}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ his_form.data_inicio.id_for_label }}" class="form-label">{{ his_form.data_inicio.label }}</label>
                  {{ his_form.data_inicio }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ his_form.data_de_termino.id_for_label }}" class="form-label">{{ his_form.data_de_termino.label }}</label>
                  {{ his_form.data_de_termino }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ his_form.referencia.id_for_label }}" class="form-label">{{ his_form.referencia.label }}</label>
                  {{ his_form.referencia }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ his_form.contato_da_referencia.id_for_label }}" class="form-label">{{ his_form.contato_da_referencia.label }}</label>
                  {{ his_form.contato_da_referencia }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="{{ his_form.descricao.id_for_label }}" class="form-label">{{ his_form.descricao.label }}</label>
                  {{ his_form.descricao }}
                </div>
              </div>
            </div>
            <div class="butoes">
            </div>
          </div>
          {% endfor %}
          {{ historico_forms.management_form }}
          
          <div class="separador"> </div> 

          <div class="titulo">
            <div class="circ-l"> </div>   
            Obras
          </div>
          
          <h2 class="subtitulo">Livros</h2>
          {% for liv_form in livro_forms %}
          <div class="box" id="livro-form">
            <div class="dadoscol-md-4una">
                {{ liv_form.titulo }}
                {{ liv_form.paginas }}
                {{ liv_form.ano_publicacao }}
                {{ liv_form.cidade }}
                {{ liv_form.estado }}
                {{ liv_form.isbn13 }}
                {{ liv_form.isbn10 }}
                {{ liv_form.descricao }}
            </div>
            <div class="butoes botao-livro">
            </div>
          </div>
          {% endfor %}
          {{ livro_forms.management_form }}

          <h2 class="subtitulo">Publicações</h2>
          {% for pub_form in publicacao_forms %}
          <div class="box" id="publicacao-form">
            <div class="dadoscol-md-4una">
              {{ pub_form.veiculo_de_comunicacao }}
              {{ pub_form.titulo }}
              {{ pub_form.link }}
              <label for="{{pub_form.anexo.id_for_label}}" class="input-type">{{ pub_form.anexo.label }}</label>
              {{ pub_form.anexo }}
              {{ pub_form.data }}
              {{ pub_form.tipo }}
              {{ pub_form.descricao }}
            </div>
            <div class="butoes">
            </div>
          </div>
          {% endfor %}
          {{ publicacao_forms.management_form }}
          
          <div class="butoes">
            <button class="cancel">Cancelar</button>
  
            <button class="prox" type="submit">
              Salvar
            </button>
          </div>

        </div>

        </div>
      </div>
    </form>
  </body>
</main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'global/js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'global/js/jquery.mask.min.js' %}"></script>
<script src="{% static 'jornalistas/js/cadastro_mask.js' %}"></script>
<script src="{% static 'global/js/jquery.formset.js' %}"></script>
<script type="text/javascript">
  $(function() {
      $('#historico-form').formset({
        prefix: '{{ historico_forms.prefix }}',
        addCssClass: 'incluir btn-centralizar ',
        addText: 'Incluir Experiência',
        deleteText: 'Excluir',
        deleteContainerClass: 'butoes',
        deleteCssClass: 'cancel',
        added: function(row) {
          const numberForms = document.getElementById('id_historico-TOTAL_FORMS').value
          const numberFormActual = numberForms - 1
          $(`#id_historico-${numberFormActual}-cargo_atual`).change(function() {
            // Verifica se a caixa de seleção está marcada
            if ($(this).is(":checked")) {
                // Se marcado, desabilite o campo de entrada
                $(`#id_historico-${numberFormActual}-data_de_termino`).prop("disabled", true);
            } else {
                // Se não marcado, habilite o campo de entrada
                $(`#id_historico-${numberFormActual}-data_de_termino`).prop("disabled", false);
            }
        });
        }
      });
  })
</script>
<script type="text/javascript">
  $(function() {
    $('#livro-form').formset({
      prefix: '{{ livro_forms.prefix }}',
      addCssClass: 'incluir btn-centralizar btn_adicionar',
      addText: 'Incluir Livro',
      deleteText: 'Excluir',
      deleteContainerClass: 'butoes',
      deleteCssClass: 'cancel',
    });
  })
</script>
<script type="text/javascript">
  $(function() {
      $('#publicacao-form').formset({
        prefix: '{{ publicacao_forms.prefix }}',
        addCssClass: 'incluir btn-centralizar',
        addText: 'Incluir Publicacao',
        deleteText: 'Excluir',
        deleteContainerClass: 'butoes',
        deleteCssClass: 'cancel',
      });
  })
</script>
<script>
  $(document).ready(function() {
    $('#id_historico-0-cargo_atual').change(function() {
      if ($(this).is(":checked")) {
        // Se marcado, desabilite o campo de entrada
        $("#id_historico-0-data_de_termino").prop("disabled", true);
      } else {
          // Se não marcado, habilite o campo de entrada
          $("#id_historico-0-data_de_termino").prop("disabled", false);
      }
    });
  });
</script>
{% endblock scripts %}

