{% extends 'global/base.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block content %}
<div class="jornaListas">
        <div style="border: none; display: flex; width: fit-content; background-color: transparent;">
            <div class="image-pessoa" style="border: none;">
                <img
                    src="{% static 'img/perfil.png' %}"
                    width="130"
                    height="130"
                    alt=""
                />
            </div>
            <div class="card">
                <h5>Nome do Jornalista</h5>
                <div class="dados-card">
                    <div class="dados-card-content">
                        <div class="dados">
                            <div class="circ-p"> </div>
                            <span>Veículo de Comunicação:</span>
                        </div>
                        <div class="dados">
                            <div class="circ-p"> </div>
                            <span>Cargo:</span>
                        </div>
                        <div class="dados">
                            <div class="circ-p"> </div>
                            <span>Registro:</span>
                        </div>
                        <div class="dados">
                            <div class="circ-p"> </div>
                            <span>Email:</span>
                        </div>
                        <h2 class="subtitulo">Nome da Referência</h2>
                        <div class="dados">
                            <div class="circ-p"> </div>
                            <span>Contato:</span>
                        </div>
                    </div>
                    <div class="dados-card-content">
                        <div class="dados">
                        <div class="circ-p"> </div>
                            <span>Facebook:</span>
                        </div>
                        <div class="dados">
                        <div class="circ-p"> </div>
                            <span>Twitter:</span>
                        </div>
                        <div class="dados">
                        <div class="circ-p"> </div>
                            <span>Linkedin:</span>
                        </div>
                        <div class="dados">
                        <div class="circ-p"> </div>
                            <span>Telegram:</span>
                        </div>
                        <div class="card-butoes">
                            <button class="btn btn-success">Aprovar</button>
                            <button class="btn btn-danger">Rejeitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}