/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    /*--primary: #fd7e14 !important; */
    --primary: #014369 !important;
    --primary-focus: #fd7a0f59 !important;
}

/* geral */

a {
    text-decoration: none;
}

nav {
    background-color: #014369;
    font-weight: bold;
    /*margin-left: 5%; */
    /*margin-right: 5%; */

}

.navbar {
    width: 100%;
    margin: 0;
}

.navbar .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: end;
    clear: both;

}

.navbar .nav {
    
}

html {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    height: 100%;
}

.home_page {
    background-color: #014369;
    height: 100%;
   /*  
    display: flex;
    align-items: center;
    justify-content: center;
    */

}

.home_page_form {

  
}

.form-group {
    margin-bottom: 1rem;
  }

.nav-link {
    color: #212529;
    position: relative;
}

.nav-link:hover {
    color: #212529;
}

/*
.nav-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0.5rem;
    left: 0;
    background-color: #fd7e14;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    transform-origin: 0;
}
*/

.nav-item a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-brand img {
    width: auto;
    height: auto;/
}

.navbar .container ul {
    background-color: #FFFFFF;
    margin-left: auto;
}

.navbar_now {
    color: green;
}

.btn-primary {
    background-color: #fd7e14;
    border-color: #CA6510;
}

.btn-primary:hover {
    background-color: #CA6510;
    border-color: #CA6510;
}

.link {
    color:#212529;
    text-decoration: none;
}

.link:hover {
    color:#212529;
    text-decoration: underline;
}

/* login */

.filter-orange {
    background-color: #fd7e14;
}

.imagem-login {
    opacity: 30%;
}

.titulo-pag {
    color: #fff;
}

.textoApjor {
    justify-content: center;
    display: flex;
    align-items: left;
    font-weight: bold;
    flex-direction: column;
}

.textoApjor h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 4vh;
}

.textoApjor h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: auto;
    margin-bottom: 1px;
    color: rgba(0, 0, 0, 0.8);
}

.texto-botoes{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}

.home_page_itens {
    margin-left: auto;
    margin-right: auto;
}

.home_page_buttons {
    width: 100%;
    display: flex;
    align-items: start;
}

.alfabeto{
    flex-direction: row;
    display: flex;
    gap: 1vw;
    justify-content: center;
    padding: 3vh 0vh;
}

.alfabeto button {
    color:#B05A5A;
    font-family: 'Poppins';
    font-weight: 600;
    text-underline-offset: 2px;
    border: none;
    background-color: transparent;
    text-underline-offset: 2px;
    text-decoration: underline;
}

footer {
    display: flex;
    margin-left: 4%;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    justify-content: start;
}

/*
.card-jornalista {
    width: 70%;
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 6vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    margin-bottom: 6vh;
    transition-timing-function: ease;
}
*/

.card-jornalista {
  margin: 0 auto;
  padding-top: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-bottom: 4vh;
  background: #F2F2F2;
  /*box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 25px;
}

.quem_somos {
    background-color: #F2F2F2;
}

.my-card{
    position: relative;
    padding: 2vh 4vh;
    width: 100%;
    justify-content: start;
    text-align: start;
    border-radius: 20px;
}

.my-card .component {
    display: block;
    width: 90%;
}

.dados-card {
    display: flex;
}

.dados {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1vh;
    padding-right: 10vh;
}

.card h5{
    color: #fd7e14;
    font-weight: bold;
}

.circ-p {
    border-radius: 100%;
    background-color: #fe975c;
    height: 1.0vh;
    width: 1.0vh;
  }

.subtitulo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
}

.card-butoes {
    position: absolute;
    bottom: 1rem;
    right: 2.5rem;
}

.navigation-jornalistas {
    background-color: #f4f4f4 ;
}

.active>.page-link {
    cursor: pointer;
    background-color: var(--primary);
    border-color: var(--primary);
}

.page-link {
    cursor: pointer;
    background-color: #ffffff;
    border-color: #ffffff;
    color: var(--primary);
}

.active>.page-link:hover {
    color: #ffffff;
}

.page-link:hover {
    color: var(--primary);
}

.required {
    color: rgb(255, 0, 0);
}

.btn-primary {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border-style: outset;
    border-image: initial;
  
    background-color: #0882BA;
    border: 1px solid #ffffff;
    border-radius: 9px;

}

.btn-secondary {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    background-color: #ffffff; 
    border: 1px solid var(--primary);
    border-radius: 9px;
}

.btn-secondary:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    border-color: var(--primary) !important;
    color: var(--primary);
}

.btn-help {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    border-style: outset;
    border-image: initial;
  
    background-color: #f46026;
    border: 1px solid #ffffff;
    border-radius: 9px;
    margin: 0 0.2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:focus-visible {
    color: var(--bs-btn-hover-color);
    background-color: var(--primary);
    border-color: var(--primary);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--primary);
    background-color: #ffffff;
    border-color: var(--primary)
}

.link-jornalista {
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
}

.form-control {
    background-color: #CCE6F5;
}

.home_page_text {
    color: #ffffff;
}

h6.home_page_text {
    margin-top: 5%;
}


.home_page .form-control {
    background-color: #678EA4;
}

.home_page .form-control::placeholder {
    color: #fff;
    opacity: 1;

}

.home_page .form-control:-ms-input-placeholder {
    color: #fff;
}

.home_page input {
    border-color: #F97A05;
    border-radius: 0;
}

table th, table td{
    background-color: #F2F2F2;
}

.bi-search {
    color: #fff;
    border-right: 1px solid #fff;
}

.bi-search:hover {
    color: #D9A372;
    cursor: pointer;

}

.bi-x-lg {
    color: #fff;
}

.bi-x-lg:hover {
    color: #D9A372;
    cursor: pointer;
}

#alert_cadastro {
    font-size: 0.9em;
}



.jornalista_perfil_texto {
    color: #000;
}

.jornalistas_perfil_busca {
    background-color: #fff;
}


.card_jornalista_busca {
    width: 25%;
    justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 6vh;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #f4f4f4; */
    border-radius: 12px;
    /*box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%); */
    margin-bottom: 6vh;
    transition-timing-function: ease;
    /*background-color: #F2F2F2; */
}

.foto_perfil_busca {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  height: 70%;

}

.profile_picture_search {
  box-sizing: border-box;
  background: #CCE6F5;
  border-color: #CED9DD;
  border-style: solid;
  border-width: 5px;
  border-radius: 100%;
  z-index: 2;
  position: static;
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: center;
  cursor: pointer;

}

.profile_picture_search img {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  padding-top: 30%;
  padding-bottom: 30%;

}

#row_perfil_picture_search {
  height: 10%;
  position: relative;
  top: 50px;
  margin-top: 3%vh;
}


.foto-perfil {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.bi-camera {
  color: #0000ff;

}

.profile_picture {
  box-sizing: border-box;
  background: #CCE6F5;
  border-color: #CED9DD;
  border-style: solid;
  border-width: 5px;
  border-radius: 100%;
  z-index: 2;
  position: static;
  width: 10%;
  height: 25%;

  display: flex;
  justify-content: center;
  cursor: pointer;

}

.profile_picture img {
  box-sizing: border-box;
  width: 40%;
  height: 40%;
  padding-top: 30%;
  padding-bottom: 30%;

}

#row_perfil_picture {
  height: 10%;
  position: relative;
  top: 50px;
  margin-top: 3%vh;
}

.partial_messages_alert {

}

.partial_messages {
    background-color: #014369;
    margin-left: auto;
    maring-right: auto;
}