<!-- ROW 1 -->
<div class="row gy-2 gx-3">
  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_nome_de_guerra }}
      <label for="{{jornalista_form.nome_de_guerra.id_for_label }}" class="form-label">{{ jornalista_form.nome_de_guerra.label }}</label>
      {% if jornalista_form.nome_de_guerra.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.nome_de_guerra }}
      {% if jornalista_form.nome_de_guerra.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.nome_de_guerra.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.nome_de_guerra.errors %}
        {% for error in jornalista_form.nome_de_guerra.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_nome }}
      <label for="{{ jornalista_form.nome.id_for_label }}" class="form-label">{{ jornalista_form.nome.label }}</label>
      {% if jornalista_form.nome.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.nome }}
      {% if jornalista_form.nome.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.nome.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.nome.errors %}
        {% for error in jornalista_form.nome.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_sobrenome }}
      <label for="{{ jornalista_form.sobrenome.id_for_label }}" class="form-label">{{ jornalista_form.sobrenome.label }}</label>
      {% if jornalista_form.sobrenome.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.sobrenome }}
      {% if jornalista_form.sobrenome.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.sobrenome.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.sobrenome.errors %}
        {% for error in jornalista_form.sobrenome.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<!-- END ROW 1 -->

<!-- ROW 2 -->
<div class="row gy-2 gx-3">
  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_data_de_nascimento }}
      <label for="{{ jornalista_form.data_de_nascimento.id_for_label }}" class="form-label">{{ jornalista_form.data_de_nascimento.label }}</label>
      {% if jornalista_form.data_de_nascimento.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.data_de_nascimento }}
      {% if jornalista_form.data_de_nascimento.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.data_de_nascimento.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.data_de_nascimento.errors %}
        {% for error in jornalista_form.data_de_nascimento.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_genero }}
      <label for="{{ jornalista_form.genero.id_for_label }}" class="form-label">{{ jornalista_form.genero.label }}</label>
      {% if jornalista_form.genero.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.genero }}
      {% if jornalista_form.genero.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.genero.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.genero.errors %}
        {% for error in jornalista_form.genero.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_registro }}
      <label for="{{ jornalista_form.registro.id_for_label }}" class="form-label">{{ jornalista_form.registro.label }}</label>
        {% if jornalista_form.registro.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.registro }}
      {% if jornalista_form.registro.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.registro.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.registro.errors %}
        {% for error in jornalista_form.registro.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<!-- END ROW 2 -->

<!-- ROW 3 -->
<div class="row gy-2 gx-3">
  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_cpf }}
      <label for="{{ jornalista_form.cpf.id_for_label }}" class="form-label">{{ jornalista_form.cpf.label }}</label>
      {% if jornalista_form.cpf.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.cpf }}
      {% if jornalista_form.cpf.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.cpf.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.cpf.errors %}
        {% for error in jornalista_form.cpf.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_estado_civil }}
      <label for="{{ jornalista_form.estado_civil.id_for_label }}" class="form-label">{{ jornalista_form.estado_civil.label }}</label>
      {% if jornalista_form.estado_civil.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.estado_civil }}
      {% if jornalista_form.estado_civil.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.estado_civil.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.estado_civil.errors %}
        {% for error in jornalista_form.estado_civil.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_associacoes }}
        <label for="{{ jornalista_form.associacoes.id_for_label }}" class="form-label">{{ jornalista_form.associacoes.label }}</label>
        {% if jornalista_form.associacoes.field.required %}<span class="required"> *</span>{% endif %}
        {{ jornalista_form.associacoes }}
        {% if jornalista_form.associacoes.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.associacoes.help_text }}
        </small>
      {% endif %}
        {% if jornalista_form.associacoes.errors %}
          {% for error in jornalista_form.associacoes.errors %}
            <div class="alert alert-danger"> {{ error }}</div>
          {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
<!-- END ROW 3 -->

<!-- ROW 4 -->
<div class="row gy-2 gx-3">
  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_ddi }}
      <label for="{{ jornalista_form.ddi.id_for_label }}" class="form-label">{{ jornalista_form.ddi.label }}</label>
      {% if jornalista_form.ddi.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.ddi }}
      {% if jornalista_form.ddi.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.ddi.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.ddi.errors %}
        {% for error in jornalista_form.ddi.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_telefone }}
      <label for="{{ jornalista_form.telefone.id_for_label }}" class="form-label">{{ jornalista_form.telefone.label }}</label>
      {% if jornalista_form.telefone.field.required %}<span class="required"> *</span>{% endif %}
      {{ jornalista_form.telefone }}
      {% if jornalista_form.telefone.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.telefone.help_text }}
        </small>
      {% endif %}
      {% if jornalista_form.telefone.errors %}
        {% for error in jornalista_form.telefone.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <!-- begin of function field -->
  <div class="col-md-4">
    <div class="form-group">
      {{ jornalista_form.show_funcao }}
      <label for="{{ jornalista_form.funcao.id_for_funcao }}" class="form-label">{{ jornalista_form.funcao.label }}</label>
      {% if jornalista_form.funcao.field.required %}<span class="required"> *</span>{% endif %}

      {{ jornalista_form.funcao }}

      {% if jornalista_form.funcao.help_text %}
        <small  class="text-muted">
            {{  jornalista_form.funcao.help_text }}
        </small>
      {% endif %}
      
      {% if jornalista_form.funcao.errors %}
        {% for error in jornalista_form.funcao.errors %}
          <div class="alert alert-danger"> {{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- end of function field -->
</div>
<!-- END ROW 4 -->