{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<main class="home_page">
    <form action={% url 'core:home' %} method="GET" 
        class="pt-5 home_page_form" id="form_search_jornalista">


        <div class="textoApjor container col-md-8 ">
            <div class="home_page_itens">
                <h3 class="home_page_text my-4">Diretório Piloto de Jornalistas no Brasil</h3>
                <!--<h3 class="home_page_text my-4">Associação Profissão Jornalista - APJor</h3>
                -->
                <h6 class="home_page_text my-4">Protótipo</h6>
           

                <div class="texto-botoes">
                    <div class="home_page_buttons ">
                        <input type="text" class="form-control" name="nome" id="input_nome" placeholder="Pesquise o nome do/a jornalista">

                        <!--
                        <div class="col form-group mb-0">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                        -->

                        <div class='ms-2 my-auto row '>
    
                            <i class="bi bi-search pe-3 col-sm-6 pb-1"
                              id="icon_search" ></i>

                          
                            <i class="bi bi-x-lg col-sm-6  ps-2 pb-1" id="icon_close"></i>


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <!--
    <div class="alfabeto">
        <form action={% url 'core:home' %} method="GET" id="alfabeto">
            <button type="submit" name="inicial" value="A">A</button>
            <button type="submit" name="inicial" value="B">B</button>
            <button type="submit" name="inicial" value="C">C</button>
            <button type="submit" name="inicial" value="D">D</button>
            <button type="submit" name="inicial" value="E">E</button>
            <button type="submit" name="inicial" value="F">F</button>
            <button type="submit" name="inicial" value="G">G</button>
            <button type="submit" name="inicial" value="H">H</button>
            <button type="submit" name="inicial" value="I">I</button>
            <button type="submit" name="inicial" value="J">J</button>
            <button type="submit" name="inicial" value="K">K</button>
            <button type="submit" name="inicial" value="L">L</button>
            <button type="submit" name="inicial" value="M">M</button>
            <button type="submit" name="inicial" value="N">N</button>
            <button type="submit" name="inicial" value="O">O</button>
            <button type="submit" name="inicial" value="P">P</button>
            <button type="submit" name="inicial" value="Q">Q</button>
            <button type="submit" name="inicial" value="R">R</button>
            <button type="submit" name="inicial" value="S">S</button>
            <button type="submit" name="inicial" value="T">T</button>
            <button type="submit" name="inicial" value="U">U</button>
            <button type="submit" name="inicial" value="V">V</button>
            <button type="submit" name="inicial" value="W">W</button>
            <button type="submit" name="inicial" value="X">X</button>
            <button type="submit" name="inicial" value="Y">Y</button>
            <button type="submit" name="inicial" value="Z">Z</button>
        </form>
    </div>
    -->

    {% csrf_token %}
    {% if jornalistas %}
    <div class="card_jornalista_busca container d-flex" >
        {% for jornalista in jornalistas %}

            <a href="{% url 'jornalistas:perfil' jornalista.id %}"  class="w-50 d-flex align-items-center container" >
            <div class="row jornalistas_perfil_busca">

                        <!--
                        <div class="image-pessoa" style="border: none;">
                            <img
                                src="{% static 'jornalistas/img/perfil.png' %}"
                                width="130"
                                height="130"
                                alt=""
                            />
                        </div>
                         -->

                        <!-- profile picture -->
                        <div class="foto_perfil_busca col-md-3 pt-1">
                            {% if jornalista.foto %}
                              <div class="profile_picture_search_defined" >
                                  <img src="{{ jornalista.foto.url }}"
                                    class="img_defined"/>
                              </div>
                           {% else %}
                              <div class="profile_picture_search_not_defined" >
                                  <img src="{% static 'jornalistas/img/camera.png' %} " class="img_not_defined"/> 
                              </div>
                            {% endif %}

                        </div> 
            
                         <!-- end of profile picture -->

                        <!-- <div class="card"> -->
                        <div class="jornalista_perfil_texto col-md-9" >
                            <h5>{{ jornalista.nome_de_guerra }}</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div><strong>Associações: </strong>
                                        {% if jornalista.show_associacoes %}
                                            {{ jornalista.associacoes.all|join:", "}}
                                        {% else %}
                                            Não informado
                                        {% endif %}</div>
                                </div>
                            </div>
                        </div>
            </div>
            </a>
        {% endfor %}
    </div>


    <!-- pagination number -->
    <!--
    {% include "global/partials/pagination.html" with page_obj=jornalistas %}
    {% endif %}
    -->
    <!-- end of pagination number -->

</main>

<script src="{% static 'core/js/home.js' %}"></script>
{% endblock content %}

