{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'core/css/sobre.css' %}">
{% endblock styles %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col">
            <div class="textoApjor textoApjor-title">
                <h3>Quem Somos</h3>
            </div>
        </div>
    </div>
    <div class="card-jornalista">
        <div class="d-flex">
            <div class="my-card">
                <div class="row">
                   
                    <div class="col" >
                        <h4 class="about-title">DPJB</h4>
                    </div>
                    
                </div>
                <div class="row component" style="margin-left: 1rem;">
                        Diante dos problemas enfrentados pelo jornalismo e pelos jornalistas nas últimas décadas, 
                        particularmente em relação à regulamentação da profissão e ao fenômeno da degradação do nível de confiança da população no jornalismo 
                        (Belda & Santos, 2017), o propósito deste projeto é, necessariamente, ambicioso. Acima de qualquer outra finalidade, o projeto aqui definido é o 
                        primeiro passo, ainda tímido, mas necessário e efetivo, em direção à construção, a médio e longo prazos, de uma união das organizações de jornalistas no Brasil para a 
                        autorregulação da profissão. No curto prazo, trata-se de desenvolver um protótipo de Sistema de Informação que contenha informações sobre os jornalistas e as interfaces 
                        necessárias a sua manutenção e atualização – nos aspectos técnicos – assim como a alimentação de dados e administração do mesmo por parte de pessoas sem formação em sistemas 
                        e computação. A construção do protótipo, assim como das formas de alimentação e administração do mesmo, é a fase preliminar do projeto DPJB. O DPJB será alimentado com informações
                        que servirão para compor um cadastro dos e das profissionais brasileiros(as).
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="my-card">
                <div class="row">
                    <div class="col">
                        <h4 class="about-title">APJor</h4>
                    </div>
                </div>
                <div class="row component" style="margin-left: 1rem;">
                        A Associação Profissão Jornalista (APJor) é uma organização de jornalistas profissionais fundada, 
                        em outubro de 2016, com o objetivo de fomentar o debate sobre a importância de um jornalismo ético e plural
                        para o fortalecimento da democracia brasileira, tendo como eixo a formação do profissional de jornalismo,
                        a regulamentação da atividade jornalística e o aparato de governança da informação jornalística.
                </div>
            </div>
        </div>
</div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}