.about-title {
    /*color: var(--primary); */
    color: #fff;
    font-weight: bold;
    background-color: #0882BA;
    padding: 1%;
}

.textoApjor-title {
    /*color: var(--primary); */
    color: #fff;
    font-weight: bold;
    background-color: #0882BA;
    padding: 1%;
}
