<div class="row gy-2 gx-3 align-items-center">
  <div class="col">
    <table class="table table-bordered table-borderless table-responsive rounded" id='form_redes_sociais'>
      <thead>
        <tr>
          <th scope="col">Link</th>
          <th scope="col">Tipo de Rede Social</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for form in redes_sociais_form.forms %}
          <tr>
            <th scope="row">
              {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
              {% for hidden in form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
              {{ form.link }}
            </th>
            <td>{{ form.tipo_de_rede_social }}</td>
            <div class="del-rede-social-form"><td></td></div>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ redes_sociais_form.management_form }}
  </div>
</div>