.icon-container-contact {
    background-color: var(--primary);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-title {
    color: var(--primary);
    font-weight: 800;
}