{% extends 'global/base.html' %} 
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/cadastro.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
<style>
  .iti {
    width: 100%
  }
  .hide {
    display: none;
  }
</style>
{% endblock styles %}
{% block content %}

<main>
  <div>
    {% if message is not None %}
    <div class="alert alert-{{ message.type }} alert-dismissible d-flex justify-content-between" role="alert">
      <div>
        {{ message.text }}
      </div>

      <div>
        <button type="button" class="btn btn-close" data-bs-dismiss="alert">
        </button>
      </div>
    </div>
    {% endif %}
  </div>
  <body>
      <div class="tela-cadastro" id="Primeiro">
        <!-- alert -->
        <div class="container row pt-3 pb-0 mb-0 mx-auto">
          <div class="alert alert-warning alert-dismissible show justify-content-between mb-0" role="alert">
            <div>
              Em Dados Pessoais, marque a caixinha ao lado de cada item para selecionar os dados que deseja exibir para a comunidade do DPJB. Caso contrário, eles serão ocultados no seu perfil.
            </div>

            <div>
              <button type="button" class="btn btn-close" data-bs-dismiss="alert">
            </div>
          </div>
        </div>
        <!-- end of alert -->
  
        <form method="POST" action="" class="form-cadastro" enctype='multipart/form-data' id='form_jornalista'>
          {% csrf_token %}


          <!-- foto de perfil nova area -->
          <div class="row container" id = "row_perfil_picture" >
              <div class="col-md-12">

                 <div class="foto-perfil">

                  {% if jornalista.foto %}
                    <div class="profile_picture_defined" >
                        <img src="{{ jornalista.foto.url }}"
                          class="img_defined"/>
                    </div>
                 {% else %}

                      <div class="profile_picture_not_defined" >
                          <img src="{% static 'jornalistas/img/camera.png' %} " class="img_not_defined"/> 
                      </div>
                  {% endif %}

                  {{jornalista_form.foto}}


              </div>  
          </div>
          <!-- end of foto the perfil nova area -->

          <div class="card-jornalista row col-md-0 w-75">
            <div class="titulo">
              <div class="circ-l"> </div>   
              Dados Pessoais
            </div>

            {% include "jornalistas/partials/form_dados_pessoais.html" %}

            <h2 class="subtitulo">Redes Sociais</h2>

            {% include "jornalistas/partials/form_redes_sociais.html" %}

            <div class="titulo">
              <div class="circ-l"> </div>   
              Formação
            </div>
            
            {% include "jornalistas/partials/form_formacao.html" %}

        </form>

          <!-- dados profissionais field --
          <div class="titulo">
            <div class="circ-l"> 

            
          </div> 
            Dados Profissionais
          </div>
          
          <h2 class="subtitulo">Histórico Profissional</h2>
          
          {% for h in request.user.jornalista.historicoprofissional_set.all %}
            <div class="card card-jornalista w-75" id="historico-form">
              <div class="row gy-2 gx-3">
                  <div class="col-md-6">
                      <p class="perfil-texto"><strong>Veículo de comunicação: </strong>{{ h.veiculo_de_comunicacao }}</p>
                      <p class="perfil-texto"><strong>Data de início: </strong>{{ h.data_inicio }}</p>
                      <p class="perfil-texto"><strong>Cargo: </strong>{{ h.cargo }}</p>
                  </div>
                  <div class="col-md-6">
                      <p class="perfil-texto"><strong>Tipo de Veículo: </strong>{{ h.tipo_de_veiculo }}</p>
                      <p class="perfil-texto"><strong>Data de Termino: </strong>
                        {% if h.data_termino %}
                        {{ h.data_termino }}
                        {% else %}
                        Cargo Atual
                        {% endif %}
                    </p>
                  </div>
              </div>

              <div class="row gy-2 gx-3">
                  <div class="col-md-12">
                      <p class="perfil-texto"><strong>Descrição: </strong>{{ h.descricao }} </p>
                  </div>
              </div>

              <div class="butoes">
                <form action="{% url 'experiencia:deletar' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name='pk' value={{ h.id}}>
                  <button class="btn-secondary btn" type="submit" >Remover</button>
                </form>
                <a class="btn-primary btn" href="{% url 'experiencia:editar' h.id %}">Editar</a>
              </div>
            </div>
          {% endfor %}
          <button type="button" class="incluir btn-centralizar" data-bs-toggle="modal" data-bs-target="#historico_modal">Incluir Experiência</button>

          -- end of dados profissionais field -->
          
          <div class="titulo">
            <div class="circ-l"> </div>   
            Currículo
          </div>
          
          <div class="container text-center">
            {% if jornalista_form.instance.curriculo %}
              <a href="{% url 'jornalistas:download_curriculo' jornalista_form.instance.pk %}" class="btn btn-primary mb-2">Baixar Currículo Atual</a>
            {% endif %}
            {{ jornalista_form.curriculo }}
            {% if jornalista_form.curriculo.errors %}
              {% for error in jornalista_form.curriculo.errors %}
                <div class="alert alert-danger"> {{ error }}</div>
              {% endfor %}
            {% endif %}
            {% if jornalista_form.curriculo.help_text %}
              <small  class="text-muted">
                  {{  jornalista_form.curriculo.help_text }}
              </small>
            {% endif %}
          </div>

          <div class="separador"> </div> 
          <input type="hidden" id='is_revisor' name='is_revisor'>
          
          <div class="butoes">
            <button class="btn-secondary btn">Cancelar</button>
  
            <button class="btn-primary btn">
              Salvar
            </button>
          </div>

        </div>

        </div>
      </div>
    <div class="modal fade" id="historico_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      {% include "jornalistas/partials/modal_historico.html" %}
    </div>
  </body>
</main>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'global/js/jquery.formset.js' %}"></script>
<script>
  $(".select2").select2({
    width: '100%'
  })
</script>
<script type="text/javascript">
  $(function() {
    $('#form_redes_sociais tbody tr').formset({
      prefix: '{{ redes_sociais_form.prefix }}',
      addText: 'Adicionar',
      deleteCssClass: 'btn-info btn',
      deleteText: 'Remover',
      addCssClass: 'btn-info btn',
    })
    $('#form_diploma tbody tr').formset({
      prefix: '{{ diploma_forms.prefix }}',
      addText: 'Adicionar',
      deleteCssClass: 'btn-secondary btn',
      deleteText: 'Remover',
      addCssClass: 'btn-info btn',
    })
    $('#form_referencias tbody tr').formset({
      prefix: '{{ referencia_forms.prefix }}',
      addText: 'Adicionar',
      addCssClass: 'btn-primary btn',
      deleteCssClass: 'btn-secondary btn me-2',
      deleteText: 'Remover',
    })
  })
</script>
<script>
  $(document).ready(function() {
    const checkbox2 = document.getElementById("id_cargo_atual");
    // Verifica o estado do checkbox imediatamente na carga da página
    if (checkbox2.checked) {
      $("#id_data_termino").prop("disabled", true);
    } else {
      $("#id_data_termino").prop("disabled", false);
    }
    $('#id_cargo_atual').change(function() {
      if ($(this).is(":checked")) {
        // Se marcado, desabilite o campo de entrada
        $("#id_data_termino").prop("disabled", true);
      } else {
        // Se não marcado, habilite o campo de entrada
        $("#id_data_termino").prop("disabled", false);
      }
    });
  });
</script>

<script src="{% static 'jornalistas/js/jornalista_cadastro.js' %}">
</script>
{% endblock scripts %}

