{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
<style>
    .main-content {
        padding: 2rem;
    }
</style>
{% endblock styles %}

{% block content %}
<main class="main-content">
    <div class="container pt-5">
        {% if jornalistas %}
        <div class="card-jornalista">
            {% for jornalista in jornalistas %}
            <div class="d-flex" id='jornalista_{{ jornalista.id }} row'>

                <!-- profile picture -->
                <div class="foto_perfil_analise col-md-2 pt-1">
                    {% if jornalista.foto %}
                      <div class="profile_picture_analyse_defined" >
                          <img src="{{ jornalista.foto.url }}"
                            class="img_defined"/>
                      </div>
                   {% else %}
                      <div class="profile_picture_analyse_not_defined" >
                          <img src="{% static 'jornalistas/img/camera.png' %} " class="img_not_defined"/> 
                      </div>
                    {% endif %}

                </div> 

                <!-- profile image -->
                <!--
                <div class="col-md-2">
                   <div class="foto_perfil_analise">
                      <div class="profile_picture_analise" >
                        <img src="{% static 'jornalistas/img/camera.png' %} "/>
                      </div>
                    </div> 
                </div>  
                -->

                <!-- end of profile image -->

                <div class="col-md-10 mb-3">
                    <h5>{{ jornalista.nome_de_guerra }}</h5>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <span><strong>Nome Completo:</strong> {{ jornalista.nome }} {{ jornalista.sobrenome }}</span>
                        </div>
                        <div class="col-md-6">
                            <span><strong>Data de Nascimento:</strong> {{ jornalista.data_de_nascimento }}</span>
                        </div>
                    </div>
                    <div class="row mb-2 ">
                        <div class="col-md-6">
                            <span><strong>Registro:</strong> {{ jornalista.registro }}</span>
                        </div>
                        <div class="col-md-6">
                            <span><strong>Revisor: </strong>{% if jornalista.is_want_revisor %}Sim {% else %}Não{% endif %}</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <span><strong>Associações:</strong> {{ jornalista.associacoes.all|join:", "}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!--
                                <a href="{% url 'revisores:analise_jornalista_perfil' jornalista.id %}">
                            -->
                            <a href="{% url 'jornalistas:perfil' jornalista.id %}">
                                <button class="btn btn-primary" type="button"
                                >
                                    Ver perfil
                                </button>
                            </a>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <form id='form_aprovar' style="margin-right: 2rem;">
                                {% csrf_token %}
                                <button class="btn btn-primary" type='button' onclick='aprovarJornalista("{% url "revisores:aprovar" jornalista.id %}")'>Aprovar</button>
                            </form>
                            <form id='form_reprovar'>
                                {% csrf_token %}
                                <button class="btn btn-secondary" type='button' onclick='reprovarJornalista("{% url "revisores:reprovar" jornalista.id %}")'>Reprovar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include "global/partials/pagination.html" with page_obj=jornalistas %}
        {% else %}
            <div class="textoApjor pt-2">
                <h1>Nenhum jornalista para análise</h1>
            </div>
        {% endif %}
    </div>  
</main>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'revisores/js/operacao_revisores.js' %}"></script>
{% endblock scripts %}